<!DOCTYPE html>
<html>
    <head>
        <title>Image Search Abstraction Layer</title>
        <link rel='stylesheet' href='/style.css'>
    </head>
    <body>
        <h1>Image Search Abstraction Layer</h1>
        <p>To search for images you just need to pass a query as a parameter. You can also add an offset as a query to paginate through the images.</p>
        <h4>Example: </h4>
        <code>www.imagesearch.com/search/yourqueryhere?offset=10</code>
        <p>You can also see the latest search queries by typing latest as a parameter.</p>
        <h4>Example: </h4>
        <code>www.imagesearch.com/latest</code>
    </body>
</html>